@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--brand-red: #ff2e29;
	--brand-yellow: #edaf49;
	--brand-blue: #3498db;
	--brand-gray: #a7a7a7;
}



@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-brand-red: var(--brand-red);
	--color-brand-yellow: var(--brand-yellow);
	--color-brand-blue: var(--brand-blue);
	--color-brand-gray: var(--brand-gray);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.diagonal-overlay {
  background: 
  /* linear-gradient(to bottom left, red, transparent 50%, red), */
  linear-gradient(to bottom right, black,  transparent 70%),
  linear-gradient(to top left, black,  transparent 70%),
}